.EasterIslandMap{
    height: 50%;
    width: 50%;
}

.NewZealandWaterAndMountain{
    height: 50%;
    width: 50%;
}

.NewZealandHakaImg{
    height: 40%;
    width: 40%;
}

.MoaiImg{
    height: 40%;
    width: 40%;
}

.MaoriClubIMG{
    height: 20%;
    width: 20%;
}

.MaoriCarvingIMG{
    height: 20%;
    width: 20%;
}

.MoaiSrcImg{
    height: 30%;
    width: 30%;
}

.WoodernCarvingIMG{
    height: 20%;
    width: 20%;
}